.App {
  text-align: center;
}

.header {
  background-color: rgb(56, 53, 53);
  color: white;
}

.movieTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.hideButton {
  position: absolute;
  display: block;

  right: 10px;
  top: 0px;

  font-size: 1.5em;
}

.hideButton:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.moreButton:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.movieCard {
  display: inline-block;

  width: auto;
  height: auto;

  min-width: 330px;
  min-height: 450px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.movieTile {
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 90%;
  height: 100%;

  margin-right: auto;
  margin-left: auto;
}

.movieTip {
  position: absolute;
  bottom: 0;

  padding-left: 2px;
  padding-right: 2px;

  width: 100%;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  cursor: default;
}

.footer {
  height: 100px;
  background-color: rgb(56, 53, 53);
}